<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">
    <link href="//fonts.googleapis.com/css?family=Audiowide&subset=latin,latin-ext" rel="stylesheet" type="text/css">
    <link rel="stylesheet" href="{% static 'css/blog.css' %}">
    <meta charset="UTF-8">
    <title>My Blog</title>
</head>
<body>
<div class="page-header" id="header" align="left">
    <p><a href="/">Rider Wolf</a></p>
</div>

{% block content %}
{% endblock %}

</body>
<script>
    window.onscroll = function () {
        scrollFunction()
    };
    var header = document.getElementById("header");
    var sticky = header.offsetTop;

    function scrollFunction() {
        if (window.pageYOffset > sticky) {
            header.classList.add("sticky");
        } else {
            header.classList.remove("sticky");
        }
    }

</script>
</html>