{% extends 'blog/base.html' %}
{% load myblog_tags %}
{% block content %}
    <div class="content container">
        <div class="col-md-12">
            <div class="post">
                <div class="blog_detail_head">
                    <p class="blog_detail_title">{{ blog.title }}</p>
                    <p class="blog_detail_description">{{ blog.description }}</p>
                </div>
                <div class="blog_detail_image" style="background-image: url({{ blog.get_thumbnail_url }})">
                </div>
                <div class="col-md-10 mx-auto">
                    <hr>
                    {% if blog.posted_on %}
                        <div class="date">
                            {{ blog.posted_on }}
                        </div>
                    {% endif %}
                    <div class="blog_detail_content">
                        {{ blog.formatted_markdown| safe|linebreaksbr }}
                    </div>
                    <br>
                    <hr>
                </div>
            </div>
        </div>
    </div>
    {% include "blog/footer.html" %}
{% endblock %}