{% block content %}
    <header class="page-header container-fluid" id="header">
        <div class="row">
            <div class="col-md-6 col-sm-12 logo" id="logo"><span><a href="/">Rider Wolf</a></span></div>
            <nav class="col-md-6 col-sm-12 d-inline">
                <div class="navigation align-items-center">
                    <ul class="nav nav-pills navbar-right nav-justified">
                        <li class="mx-md-4 m-2 active"><a class="font-thin text-muted" href="#">HOME</a></li>
                        <li class="mx-md-4 m-2"><a class="font-thin text-muted" href="/category">CATEGORIES</a></li>
                        <li class="mx-md-4 m-2"><a class="font-thin text-muted" href="#">ABOUT US</a></li>
                    </ul>
                </div>
            </nav>
        </div>
    </header>
{% endblock %}