{% extends 'blog/base.html' %}

{% block content %}
    <div class="cover">
        <div class="col-md-4 offset-md-1">
            <h1>We Ride We Reach</h1>
            <h3>Riding on the road</h3>
        </div>
    </div>
    <div class="content container">
        <div class="row">
            <div class="col-md-8">
                <div class="row">
                    <div class="col-md-12">
                        <h2>Recent Posts</h2>
                    </div>
                </div>
                <br>
                {% include "blog/carousel.html" with carousel_blogs=carousel_blogs %}
                <br>
                <div class="row">
                    <div class="col-md-12">
                        <h2>Featured</h2>
                    </div>
                </div>
                <br>
                <div class="row">
                    {% for blog in popular_blogs %}
                        <div class="col-md-6 text-center">
                            <a style="text-decoration: none"
                               href={% url 'blog_detail' cat_slug=blog.category.slug slug=blog.slug pk=blog.pk %}>
                                <div class="blog_border popular_posts">
                                    <div class="popular_posts_image"
                                         style="background-image: url({{ blog.get_thumbnail_url }})">
                                    </div>
                                    <div class="popular_posts_title">
                                        <p>{{ blog.title }}</p>
                                    </div>
                                </div>
                            </a>
                        </div>
                    {% endfor %}
                </div>
            </div>
            <div class="col-md-3 offset-md-1 text-center">
                <div class="row">
                    <div class="col-md-12">
                        <h2>About Me</h2>
                    </div>
                </div>
                <br>
                <div class="row">
                    <p>There are many variations of passages of Lorem Ipsum available, but the majority have suffered
                        alteration in some form, by injected humour, or randomised words which don't look even slightly
                        believable. If you are going to use a passage of Lorem Ipsum, you need to be sure there isn't
                        anything embarrassing hidden in the middle of text.</p>
                </div>
            </div>
        </div>
        <br>
    </div>
    <div class="footer">
        <div class="col-md-4 mx-auto text-center">
            <h1>My Footers</h1>
        </div>
    </div>
{% endblock %}
